:host {
    user-select: none;
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
    background: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    pointer-events: auto;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px #00000015, 0 2px 4px #00000015;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

:host(:hover) {
    background: #eee;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px #00000020, 0 2px 4px #00000020,
        0 4px 8px #00000020;
}

img {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}
